*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    font-size: 45px;
    padding: 20px;
    height: 50px;
    text-align: center;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 50px;
}

.question-container {
    margin-bottom: 20px;
}

.options button {
    display: block;
    margin: 5px auto;
    padding: 10px 20px;
    background-color: #080808;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.options button:hover {
    background-color: #070707;
}

.options button.selected {
    background-color: #28a745;
    color: #fff;
}

.feedback-container {
    margin-bottom: 20px;
}

#feedback {
    font-weight: bold;
    color: #dc3545;
}

#timer {
    font-weight: bold;
    color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
